html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.full-screen {
  height: 100%;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.App {
  text-align: center;
  background: #81d4fa;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Color reference https://material-ui.com/customization/color/ */
@keyframes colorchange-correct {
  0% { background: #9ccc65 }
  100% { background: #81d4fa }
}

@keyframes colorchange-wrong {
  0% { background: #ff7043 }
  100% { background: #81d4fa }
}

.select-note-feedback-correct {
  animation: colorchange-correct 0.7s;
}

.select-note-feedback-wrong {
  animation: colorchange-wrong 0.7s;
}
